html, body {
    height: 99%; /*Avoid scrollbar*/
}

li {
    display: inline-block;
    margin: 0.5em;
}

#name {
    font-size: 2em;
}

h2 {
    color: rgb(151, 47, 52);
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
	background: rgb(22, 22, 22) ;
}

nav {
    margin-right: 2em;
}

.links, footer {
    padding-right: 3em;
}

.invert {
    filter: invert(85%);
}

a {
    color: white;
    list-style: none;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
}

a:hover {
    color: rgb(255, 244, 179);
    
}

li {
    justify-content: space-between;
    margin: 0.5em;
}

li img {
    height: 30px;
    vertical-align: middle;
}

main {
    flex: 1 0 auto;
    max-width: 500px;
}

footer {
    flex-shrink: 0;
}